.scfForm input[type="text"].input-xs {
  width:25%;
}

.scfForm input[type="text"].input-sm {
  width:50%;
}

.scfForm input[type="text"].input-md {
  width:75%;
}

.scfRadioButtonList input {
  margin:-1px 8px 0 0;
}